In [1]:
from tkinter import *
from PIL import ImageTk, Image
import sqlite3

In [2]:
root = Tk()
root.title("Database")
root.iconbitmap('D:/Essential Things/Work/ZLATAN3/8.9.20/ZLATAN3/ZLATAN3/icons/BackgroundLogoBlack.png')
root.geometry("400x400")

''

In [3]:
#create a database or connect to other one
conn = sqlite3.connect('address_book.db')

In [4]:
#create cursor
c = conn.cursor()

In [5]:
'''
c.execute("""CREATE TABLE addresses (
        first_name text, 
        last_name text,
        address text,
        city text,
        state text,
        zipcode integer
        )""")
'''

'\nc.execute("""CREATE TABLE addresses (\n        first_name text, \n        last_name text,\n        address text,\n        city text,\n        state text,\n        zipcode integer\n        )""")\n'

In [6]:
def submit():
    
    #create a database or connect to other one
    conn = sqlite3.connect('address_book.db')   
    #create cursor
    c = conn.cursor()
    
    record_id = select_ID.get()
    #Update into table
    if record_id:
        c.execute("""UPDATE addresses SET
        first_name = :f_name,
        last_name = :l_name,
        address = :address,
        city = :city,
        state = :state,
        zipcode = :zipcode
        
        WHERE oid = :oid""",
        {'f_name':f_name.get(),
         'l_name':l_name.get(),
         'address':address.get(),
         'city':city.get(),
         'state':state.get(),
         'zipcode':zipcode.get(),
         'oid':record_id
        })     

    #Insert into table    
    else:
        c.execute("INSERT INTO addresses VALUES (:f_name, :l_name, :address, :city, :state, :zipcode)",
                 {
                     'f_name':f_name.get(),
                     'l_name':l_name.get(),
                     'address':address.get(),
                     'city':city.get(),
                     'state':state.get(),
                     'zipcode':zipcode.get()
                 })
    
    #commit changes
    conn.commit()
    #close connection
    conn.close()
    
    #clear text boxes
    f_name.delete(0, END)
    l_name.delete(0, END)
    address.delete(0, END)
    city.delete(0, END)
    state.delete(0, END)
    zipcode.delete(0, END)
    select_ID.delete(0, END)

In [8]:
#Delete query
def delete():
    #create a database or connect to other one
    conn = sqlite3.connect('address_book.db')   
    #create cursor
    c = conn.cursor()
    
    #delete a record
    c.execute("DELETE FROM addresses WHERE  oid = " + select_ID.get())
    #clear text boxes
    f_name.delete(0, END)
    l_name.delete(0, END)
    address.delete(0, END)
    city.delete(0, END)
    state.delete(0, END)
    zipcode.delete(0, END)
    select_ID.delete(0, END)
    
    #commit changes
    conn.commit()
    #close connection
    conn.close()

In [9]:
def query():
    #create a database or connect to other one
    conn = sqlite3.connect('address_book.db')   
    #create cursor
    c = conn.cursor()
    
    #show selected ID record
    record_id = select_ID.get()
    if record_id:
    
        c.execute("SELECT *,oid FROM addresses WHERE oid =" + record_id)
        records = c.fetchall()
        #clear text boxes
        f_name.delete(0, END)
        l_name.delete(0, END)
        address.delete(0, END)
        city.delete(0, END)
        state.delete(0, END)
        zipcode.delete(0, END)
        select_ID.delete(0, END)
        #loop thru results
        for record in records:
            f_name.insert(0, record[0])
            l_name.insert(0, record[1])
            address.insert(0, record[2])
            city.insert(0, record[3])
            state.insert(0, record[4])
            zipcode.insert(0, record[5])
            select_ID.insert(0, record[6])
          
    else:
        #show records
        c.execute("SELECT *,oid FROM addresses")
        #fetchall fetchmany(any number) fetchone
        records = c.fetchall()
        #loop thru results
        print_records = ''
        for record in records:
            print_records += str(record[-1]) + " " + str(record[0]) + " " + str(record[1]) + "\n"

        query_label = Label(root, text = print_records)
        query_label.grid(row = 10, column = 0, columnspan = 2)
        
        #clear text boxes
        f_name.delete(0, END)
        l_name.delete(0, END)
        address.delete(0, END)
        city.delete(0, END)
        state.delete(0, END)
        zipcode.delete(0, END)
        select_ID.delete(0, END)
    
    #commit changes
    conn.commit()
    #close connection
    conn.close()

In [10]:
#create text boxes
f_name = Entry(root, width = 30)
f_name.grid(row = 0, column = 1, padx = 20, pady = (10,0))
l_name = Entry(root, width = 30)
l_name.grid(row = 1, column = 1)
address = Entry(root, width = 30)
address.grid(row = 2, column = 1)
city = Entry(root, width = 30)
city.grid(row = 3, column = 1)
state = Entry(root, width = 30)
state.grid(row = 4, column = 1)
zipcode = Entry(root, width = 30)
zipcode.grid(row = 5, column = 1)
select_ID = Entry(root, width = 30)
select_ID.grid(row = 8, column = 1)

In [11]:
#create label for text boxes
f_name_label = Label(root, text = "First Name")
f_name_label.grid(row = 0, column = 0, pady = (10,0))
l_name_label = Label(root, text = "Last Name")
l_name_label.grid(row = 1, column = 0)
address_label = Label(root, text = "Address")
address_label.grid(row = 2, column = 0)
city_label = Label(root, text = "City")
city_label.grid(row = 3, column = 0)
state_label = Label(root, text = "State")
state_label.grid(row = 4, column = 0)
zipcode_label = Label(root, text = "Zipcode")
zipcode_label.grid(row = 5, column = 0)
select_ID_label = Label(root, text = "Select ID")
select_ID_label.grid(row = 8, column = 0)

In [12]:
#submit button
submit_button = Button(root, text = "Save", command = submit)
submit_button.grid(row = 7, column = 0, columnspan = 1, pady = 10, padx = 10, ipadx = 50)

In [13]:
#show records
query_button = Button(root, text = "Show Records", command = query)
query_button.grid(row = 9, column = 1, columnspan = 1, pady = 10, padx = 10, ipadx = 50)

In [14]:
#delet button
delete_button = Button(root, text = "Delete", command = delete)
delete_button.grid(row = 7, column = 1, columnspan = 1, pady = 10, padx = 10, ipadx = 50)

In [15]:
#commit changes
conn.commit()

In [16]:
#close connection
conn.close()

In [17]:
root.mainloop()

Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\mm_pa\.conda\envs\pytorch\lib\tkinter\__init__.py", line 1892, in __call__
    return self.func(*args)
  File "<ipython-input-8-7e2d4a6cfcae>", line 9, in delete
    c.execute("DELETE FROM addresses WHERE  oid = " + select_ID.get())
sqlite3.OperationalError: incomplete input
Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\Users\mm_pa\.conda\envs\pytorch\lib\tkinter\__init__.py", line 1892, in __call__
    return self.func(*args)
  File "<ipython-input-8-7e2d4a6cfcae>", line 9, in delete
    c.execute("DELETE FROM addresses WHERE  oid = " + select_ID.get())
sqlite3.OperationalError: incomplete input

Requirement already satisfied: game in c:\users\mm_pa\.conda\envs\pytorch\lib\site-packages (0.0.5)